name: Flutter Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-apk:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup project
        id: setup
        uses: ./.github/actions/setup-project
        with:
          platform: android

      - name: Build APK
        run: flutter build apk --debug --no-pub --split-per-abi

      - name: Upload ARM Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: apk-arm-${{ github.sha }}
          path: build/app/outputs/flutter-apk/app-armeabi-v7a-debug.apk

      - name: Upload ARM64 Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: apk-arm64-${{ github.sha }}
          path: build/app/outputs/flutter-apk/app-arm64-v8a-debug.apk

      - name: Upload x64 Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: apk-x64-${{ github.sha }}
          path: build/app/outputs/flutter-apk/app-x86_64-debug.apk
